extends layout

block content
  .container
    .jumbotron
      .container 
        Hello Arham here
        p it is a sample text notting more .
        a.btn.btn-primaty.btn-lg(href="#") Show More &raquo;
